<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
      <ion-title>Host</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-textarea #nameRef="ngModel" ngModel maxlength="23" id="roomName" [autoGrow]="true" class="textArea btnWrapper" placeholder="Room Name"></ion-textarea>
    <ion-textarea #descRef="ngModel" ngModel maxlength="75" id="description" [autoGrow]="true" class="textArea btnWrapper"  placeholder="Bet Description"></ion-textarea>
    
    <div class="options textarea-container">
      <ion-textarea #op1Ref="ngModel" ngModel maxlength="35" [autoGrow]="true"placeholder="type option 1 here..."></ion-textarea>
      <div class="gap"></div>
      <ion-textarea #op2Ref="ngModel" ngModel maxlength="35" [autoGrow]="true" placeholder="type option 2 here..."></ion-textarea>
    </div>

      <ion-list id="entrants">
        <ion-item>
          <ion-select [(ngModel)]="selectedValue" placeholder="0">
            <div id="enLabel"slot="label">Max Entrants</div>
            <ion-select-option  value="2">2 Entrants</ion-select-option>
            <ion-select-option  value="4">4 Entrants</ion-select-option>
            <ion-select-option  value="8">8 Entrants</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

  </div>


  <div id="container">
    <ul>
      <li>
        <div class="btnWrapper">
          <ion-button (click)="SubmitDetail(nameRef.value, descRef.value, op1Ref.value, op2Ref.value)" class="ion-activatable rounded-rectangle">
            <ion-icon class="blueC" name="create"></ion-icon> Create Room
          </ion-button>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
